{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <div>
        <h3>Prenom : {{ User.firstname }}</h3>
        <h3>Nom : {{ User.name }}</h3>
        <h3>Mail : {{ User.email }}</h3>

        <a href="">Modifier mes informations</a>
    </div>

    <div>
        <h4>Anciens Paniers :</h4>
        <table>
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for panier in anciensPaniers %}
                    <tr style="outline: 1px solid black;">
                        <td colspan="4"><strong>Panier payé :</strong></td>
                    </tr>
                    {% for contenu in panier.contenuPaniers %}
                        <tr>
                            <td>{{ contenu.produit.name }}</td>
                            <td>{{ contenu.produit.price }} €</td>
                            <td>{{ contenu.quantity }}</td>
                            <td>{{ contenu.produit.price * contenu.quantity }} €</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Aucun ancien panier.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h4>Panier en cours :</h4>
        {% if paniersEnCours|length == 0 %}
            <p>Aucun panier commencé.</p>
        {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Quantité</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for panier in paniersEnCours %}
                        <tr style="outline: 1px solid black;">
                            <td colspan="4"><strong>Panier en cours :</strong></td>
                        </tr>
                        {% for contenu in panier.contenuPaniers %}
                            <tr>
                                <td>{{ contenu.produit.name }}</td>
                                <td>{{ contenu.produit.price }} €</td>
                                <td>{{ contenu.quantity }}</td>
                                <td>{{ contenu.produit.price * contenu.quantity }} €</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
